button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background-color: #1d79a1;
  width: 190px;
  a {
    margin-left: 0px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
  }
  a:hover {
    color: #f1f1f1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .active {
    background-color: #12526d;
  }
}

mat-toolbar {
  background: #279fa3;
  b {
    margin-left: 4%;
  }
  nav {
    justify-self: right;

    ul {
      list-style-type: none;
      margin-left: 70%;
      margin: 0;
      padding: 0;

      li {
        float: left;
        margin-left: 1200%;

        a {
          padding: 1.5em;
          text-transform: uppercase;
        }
      }
    }
  }
}

.insideToolbar {
  background-color: #f5f3f1;
  height: 0.8in;
  b {
    margin-left: 0;
  }
  #custom-search-input {
    border: solid 1px #e4e4e4;
    border-radius: 6px;
    background-color: #fff;
    width: 450px;
    align-self: center;
    text-align: center;
  }

  #custom-search-input input {
    border: 0;
    box-shadow: none;
    height: 10px;
    vertical-align: center;
    height: 40px;
    font-size: 18px;
  }

  #custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
  }

  #custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
  }

  #custom-search-input .glyphicon-search {
    font-size: 23px;
  }
}
