<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>




<mat-toolbar>
    <button (click)='sidenav.toggle()'><mat-icon style="color: white">menu</mat-icon></button>
    <b style="font-size: 22px; color: white">Hello {{user}}</b>
    <nav>
        <ul>
            <li><button (click)='logout()'><div style='font-size: 19px; color: white'>LOGOUT</div></button></li>
        </ul>
    </nav>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode='side' [(opened)]='opened'>
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard">DASHBOARD</a>
            <a mat-list-item routerLink="/visualisation">VISUALISATION</a>
            <a mat-list-item routerLink="/config">CONFIGURE</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-dashboard-view></app-dashboard-view>
    </mat-sidenav-content>
</mat-sidenav-container>
<br> 
<br>







