header {
    background: #F5C288;
    nav {
        justify-self: center;
        height : 30px;
        a {
            font-size: 22px;
            color: #291402;
            text-align: center;
            font-weight: bold;
            
        }
    }
}