<mat-toolbar class="insideToolbar">
    <div style="color: rgb(65, 113, 131); margin-left: 5%; padding-top: 10px">
        <b style='font-size: 35px; margin-left: 20%; vertical-align: center'>Dashboard</b>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Search node by ID" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>


<!-- <mat-grid-list cols="4" rowHeight="400px" gutterSize="5px" class="outer">
    <mat-grid-tile>
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title class="dashboard-card-title">NODE ID : 12345</mat-card-title>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list> -->

<ng-masonry-grid [masonryOptions]="{ gutter: 5, originTop: true, isFitWidth: false}" [useAnimation]="false" class="outer">
    <ng-masonry-grid-item>
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title class="dashboard-card-title">NODE ID : 12345</mat-card-title>
            </mat-card-header>
        </mat-card>
    </ng-masonry-grid-item>
</ng-masonry-grid> 
