<mat-toolbar class="insideToolbar">
    <div style="color: rgb(65, 113, 131); margin-left: 5%; padding-top: 10px">
        <b style='font-size: 35px; margin-left: 20%; vertical-align: center'>Dashboard</b>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Search node by ID" [(ngModel)]='searchText'/>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>


<!-- <mat-grid-list cols="4" rowHeight="400px" gutterSize="5px" class="outer">
    <mat-grid-tile>
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title class="dashboard-card-title">NODE ID : 12345</mat-card-title>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list> -->

<!-- <ng-masonry-grid [masonryOptions]="{ gutter: 5, originTop: true, isFitWidth: false}" [useAnimation]="false" class="outer">
    <ng-masonry-grid-item>
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title class="dashboard-card-title">NODE ID : 12345</mat-card-title>
            </mat-card-header>
        </mat-card>
    </ng-masonry-grid-item>
</ng-masonry-grid>  -->

<div class="outer">
    <div class="container-fluid">
        <ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true">
            <!-- <div ngxMasonryItem class="masonry-item" *ngFor="let data of masonryItems | dashboardSearchFilter : searchText"> -->
            <div ngxMasonryItem class="masonry-item" *ngFor="let data of masonryItems ">
                <mat-card class="dashboard-card">
                    <mat-card-header>
                        <mat-card-title class="dashboard-card-title"> Node {{ data.nodeID }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <table>
                            <tr>
                                <td align="right" style="color: rgb(7, 0, 100); font-weight: bold">
                                    TEMPERATURE :<span>&nbsp;</span>
                                </td>
                                <td>
                                    <b><span>&nbsp;</span>{{data.TEMPERATURE}}</b>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="color: rgb(7, 0, 100); font-weight: bold">
                                    HUMIDITY :<span>&nbsp;</span>
                                </td>
                                <td>
                                    <b><span>&nbsp;</span>{{data.HUMIDITY}}</b>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="color: rgb(7, 0, 100); font-weight: bold">
                                    PRESSURE :<span>&nbsp;</span>
                                </td>
                                <td>
                                    <b><span>&nbsp;</span>{{data.PRESSURE}}</b>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <button (click)="openConfig(data.nodeID)">CONFIGURE</button>
                    </mat-card-content>
                </mat-card>
            </div>
        </ngx-masonry>
    </div>
</div>